html, body{
    margin: auto;
    background: url(./img/fundo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

body{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

header{
    background-color: white;
    font-family:Arial, Helvetica, sans-serif;
    height:90px;
    width: 100%;
    position: fixed;
    z-index: 10;
}

.header_container{
    margin: 18px 20px 10px 20px;
    /*Posição do margin = TOP RIGHT BOTTOM LEFT*/
}

.foto{
    width: 60px;
    border-radius: 50%;
    float: left;
    margin-left: 16px;
    margin-right: 10px;
}

#name{
    letter-spacing: 5px;
    float: left;
    padding-top: 18px;
    padding-bottom: 16px;
    color: black;
}

.menu{
    display: flex;
    float: right;
    list-style: none;
    padding: 0;
    margin: auto;
}

li{
    padding:18px 16px 16px 16px ;
    /*Posição do padding = TOP RIGHT BOTTOM LEFT*/
}

a{
    color: rgb(0, 0, 0);
    text-decoration: none;
}

a:hover {
    text-decoration: none;
    color: #5d25ea;
}

#centro{
    text-align: center;
}

h1{
    margin-top: 0;
    padding-top: 25%;
    letter-spacing: 10px;
    font-size: 50px;
    font-family:'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
}

h2{
    letter-spacing: 5px;
    font-size: 23px;
    font-family:monospace;
    padding-bottom: 20%;
}

h3{
    text-align: center;
    letter-spacing: 3px;
    font-size: 35px;
    font-family: Arial, Helvetica, sans-serif;
}

hr{
    width: 30%;
    height: 2px;
    background-color: #5d25ea;
    border-radius: 50%;
}

.subtitulos{
    text-align: center;
    font-size: 17px;
    font-family:sans-serif;
    padding: 3%;
}

section{
    padding-top: 160px;
    padding-bottom: 160px;
    margin-left: 15%;
    margin-right: 15%;
}

p{
    font-size: 17px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align:justify;
}

.destaque{
    font-family:Arial, Helvetica, sans-serif;
    font-size: 25px;
}
.coluna1{
    float: left;
    width: 35%;
    padding: 6%;
    position:relative;
    background-color: white;
    border-radius: 5px;
}
.coluna2{
    margin-left: 6%;
    float: left;
    width: 35%;
    padding: 6%;
    background-color: white;
    border-radius: 5px;
    position:relative;

}

.habi{
    margin: 5px;
    padding:10px;
    background-color:rgb(153,153,153,.2);
    border-radius: 5px;
    display: inline-block;
}

.projetos{
    width: 45%;
    border-radius: 5px;
    border: solid black 1px;
}

form{
    background-color: white;
    border-radius: 5px;
    padding: 20px;
}

label{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #484849;
}

input, textarea, button{
    width: 100%;
    background-color: #e8e8e9;
    border: none;
    border-radius: 5px;
    padding: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

footer{
    padding: 15px;
    background-color: black;
    text-align: center;
}

footer p {
    color: white;
    font-size: 14px;
    text-align: center;
}

footer a{
    color: white;
    font-size: 2rem;
    margin: 1rem;
}


@media all and (max-width: 800px){
    .menu{
        visibility: hidden;
    }
    .coluna1, .coluna2{
        display: block;
        width: 80%;
        margin-top: 10%;
        margin-left: 0;
        margin-right: 0;
}
}

